<div class='container'>
  <div class='row'>
    <div class='col-lg-2'>
      <h2>User info</h2>
      <%= render 'user/users/info', user: current_user_user %>
    </div>
    <div class='col-lg-9 offset-md-1'>
      <h2>Games</h2>
      <%= render 'index', games: @games%>
    </div>
  </div>
</div>